<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JOURNIFY</title>
</head>

<body>
    <header>
        <div>
            <h1>JOURNIFY</h1>
            <h3>A JOURNAL FOR EVERY JOURNEY.</h3>
        </div>
        <div>
            <!--{{#if loggedIN}}
            <button>Sign Out</button>
            {{else}}-->
            <button>Log In</button>
            <button>Sign Up</button>
            <!--{{/if}}-->
        </div>
    </header>

    <main>
        <!--{{#if loggedIN}}
        {{else}}-->
        <div>Example that will say: log in or sign up to create a new journal!</div>
        <!--{{/if}}-->
    </main>

    <footer>
        <h3>JOURNIFY &copy; 2022</h3>
        <p>
            Team Lead: Jorge Garit<br/>
            Front-End Design: Victoria David<br/>
            Back-End Development: Lindsay Libhart and Michael Jordan
        </p>
    </footer>
</body>

</html>