<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!--css stylesheet-->
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <title>JOURNIFY</title>
</head>

<body>
    <header>
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <img class="logo" src="../../public/assets/images/placeholder-image.jpg" alt="">
                    <h1>JOURNIFY</h1>
                </div>
                <div class="row slogan-bg">
                    <h3>A JOURNAL FOR EVERY JOURNEY</h3>
                </div>
            </div>
            <nav class="col-3">
                <!--{{#if loggedIN}}-->
                <div>
                    <button class="btn btn-info col">Sign Out</button>
                </div>
                <!--{{/if}}-->
            </nav>
        </div>
    </header>

    <main class="container-fluid">
        <div class="row auto">
            <!--{{{body}}}-->
        </div>
    </main>

    <footer class="container-fluid">
        <div class="row">
            <p class="col-8">
                Team Lead: Jorge Garit<br/>
                Front-End Design: Victoria David<br/>
                Back-End Development: Lindsay Libhart and Michael Jordan
            </p>
            <h3 class="col-4">JOURNIFY &copy; 2022</h3>
        </div>
    </footer>
</body>

</html>